
.chart-panel {
  background-color: white;
  border-radius: 10px;
  display: none;
  padding-bottom: 30px;
}

.chart-hidden {
  visibility: hidden
}

.chart-visible {
  visiblity: visible
}

.chart {
  height: 300px;
}

.chart-title {
  
}

.sector-chart {
  height: 300px;
}

.sector-panel {
  background-color: white;
  border-radius: 10px;
  display: none;
}

.sector-hidden {
  visibility: hidden
}

.sector-visible {
  visiblity: visible
}

.sector-title {
  text-align: center;
  margin-top: 5px;
  
}

.chart-data-link {
  float: right;
  font-size: 12px;
}

.nv-axisMaxMin text {
  font-weight: 200 !important;
}

