.jobs {
  // outline: 1px solid $secondary-red;

  .contentBox-jobs {
    background-color: white;
  }

  &.dashboardBox .dashboard-headline {
    border-color: $secondary-red;
  }
}

.jobs-overlay {
  background-color: $secondary-red;
}
