$primary-green: #aac125;
$primary-green-70: rgba($primary-green,0.7);
$primary-green-50: rgba($primary-green,0.5);
$primary-green-25: rgba($primary-green,0.25);

$primary-grey: rgb(95,96,98);
$primary-grey-70: rgba($primary-grey,0.7);
$primary-grey-50: rgba($primary-grey,0.5);
$primary-grey-25: rgba($primary-grey,0.25);

$medium-grey: rgb(142, 143, 145);
$light-grey: rgb(249,249,249);

$primary-white: #ffffff;

$secondary-blue: rgb(0,164,228);
$secondary-blue-70: rgba($secondary-blue,0.7);
$secondary-blue-50: rgba($secondary-blue,0.5);
$secondary-blue-25: rgba($secondary-blue,0.25);

$secondary-orange: rgb(243, 144, 29);
$secondary-orange-70: rgba($secondary-orange,0.7);
$secondary-orange-50: rgba($secondary-orange,0.5);
$secondary-orange-25: rgba($secondary-orange,0.25);

$secondary-yellow: rgb(241, 203, 0);
$secondary-yellow-70: rgba($secondary-yellow,0.7);
$secondary-yellow-50: rgba($secondary-yellow,0.5);
$secondary-yellow-25: rgba($secondary-yellow,0.25);

$secondary-red: rgb(181, 9, 56);
$secondary-red-70: rgba($secondary-red,0.7);
$secondary-red-50: rgba($secondary-red,0.5);
$secondary-red-25: rgba($secondary-red,0.25);

$secondary-magenta: rgb(125, 0, 73);
$secondary-magenta-70: rgba($secondary-magenta,0.7);
$secondary-magenta-50: rgba($secondary-magenta,0.5);
$secondary-magenta-25: rgba($secondary-magenta,0.25);
