.about {

  font-family: "Gill Sans W01 Book", "Open Sans", "sans-serif" !important;

  h2 {
    font-family: "Bell Gothic W01 Black 691900", "Open Sans", "sans-serif" !important;
  }

  a {
    color: $primary-green !important;
    font-weight: 900 !important;
  }
}