
.chart-panel {
  background-color: white;
  border-radius: 10px;
  display:none;
}

.chart-hidden {
  visibility: hidden
}

.chart-shown {
  visiblity: visible
}

.chart {
  height: 300px;
}

.chart-title {
  
}

.sector-chart {
  height: 300px;

}

.sector-title {
  text-align: center;
  margin-top: 5px;
  
}

