
.jobs-chart-panel {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display: none;
}

#unemp-panel {
  text-align: center;
}

#jobs-panel {
  text-align: center;
}

#jobs-chart {
  height: 300px;
}

#sector-chart {
  height:500px;
}

.jobs-plot {
  padding-left: 35px;
}


