
.chart-panel {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  display:none;
}

.chart-hidden {
  visibility: hidden
}

.chart-shown {
  visiblity: visible
}

.chart {
  

}

.chart-title {
  
}

.sector-panel {
  
}

.sector-title {
  
}

