:global {
  @import 'base';
  @import 'sj_economic';
  @import 'vendor/normalize';

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    box-sizing: border-box;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "Open Sans", "sans-serif";
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container-fluid {
    padding: 60px 15px 0;
  }
  .container-fluid .text-muted {
    margin: 20px 0;
  }

  .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  code {
    font-size: 80%;
  }
}
