.jobs {
  outline: 1px solid $secondary-red;

  .headlineBox-jobs {
    background-color: $secondary-red;

  }

  .contentBox-jobs {
    background-color: white;
  }

  .footerBox-jobs {
    background-color: white;
    color: darkgray;
  }
}

.jobs-overlay {
  background-color: $secondary-red;
}
