.jobs {

  .headlineBox-jobs {
    background-color: $secondary-yellow;
  }

  .contentBox-jobs {
    background-color: $primary-grey-50;
  }

  .footerBox-jobs {
    background-color: $primary-grey-25;
    color: darkgray;
  }
}

.jobs-overlay {
  background-color: $secondary-yellow;
}
