
.image-holder,
.label-overlay {
 // min-width: 50px;
 height: 8rem;
//  max-width: 50px;
//  max-height: 160px;
 // line-height: 23px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 3px;

}

.image-holder {
  background: url(http://sjeconomy.com/wp-content/uploads/highlight-example.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 99;
}

.title {
//  border: solid 1px white;
   min-width: 40px;
   min-height: 140px;
//  max-width: 40px;
//  max-height: 140px;
  line-height: 23px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 100;
  margin: auto;
  margin-top: 10px;
}

.title h4 {
  // -ms-transform: rotate(270deg);
  /* IE 9 */
  // -webkit-transform: rotate(270deg);
  /*    Chrome, Safari, Opera */
  // transform: rotate(270deg);
  color: white !important;
  font-weight: bold;
  font-family: Arial;
  text-align: left;
  padding: 5px;
  margin: .75rem 1rem;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
  font-size: 3.5rem;
}

.label-overlay {
  top: 0;
  left: 0;
  position: absolute;

  opacity: 0.9;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.dashboard-label {
  font-size: 150%;
  font-weight: bold;
  min-height: 100px;
  padding: 0 .35rem;
  text-align: right;
  border-radius: 3px;
}

@media only screen
and (min-width: 768px) {
  /* Single Fluid Width Column (iPhone) */

  .title h4 {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /*    Chrome, Safari, Opera */
    transform: rotate(270deg);

    font-size: 2.5rem;
    margin: 6.5rem 0;
  }

  .real-estate, .jobs {
    .title h4 {
      margin: 6.5rem 0;
    }
  }

  .talent {
    .title h4 {
      margin: 8.25rem 0;
    }
  }

  .housing {
    .title h4 {
      margin: 9rem 0;
    }
  }

  .image-holder {
    height: 17.75rem;
  }

  .label-overlay {
    height: 18rem;
  }
}




