body > .container-fluid {
  padding: 0 0;
}

code {
  font-size: 80%;
}

.outline {
  border: solid, white, 2px;
  text-align: center;
  margin-right: 10px;
}

.econ-header {
  background: $primary-green;
  color: white;
  font-family: "Bell Gothic W01 Bold 691903", "Noto Sans", "sans-serif";
  font-size: 3rem;
  padding: 0.5rem .25rem;

  &.navbar {
    border-radius: 0;
  }
 
  .head-title {
    font-weight: normal;
  }

  .container {
    margin-top: 10px;
  }

  .head-title-right {
    margin-right: 30px;


  }

/* This is only for font styling consistent with the sjeconomy.com site */ 
  strong {
    font-family: "Bell Gothic W01 Black 691900", "Noto Sans", "sans-serif";
    font-weight: normal;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

body {
  font-family: "Gill Sans W01 Book", "Open Sans", "sans-serif";
  font-size: 16px;
}

.econ-footer {
  background: $primary-green;
  color: $primary-white;
  font-family: "Bell Gothic W01 Bold 691903", "Noto Sans", "sans-serif";
  margin-top: 2rem;
  padding: 1.5rem .25rem;
  text-align: center;
  width: 100%;
}

.intro-text-container
{
  font-family: "Bell Gothic W01 Light", "Open Sans", "sans-serif";
  font-size: 16px;
}

