.outline {
  border: solid, white, 2px;
  text-align: center;
  margin-right: 10px;
}

.econ-header {
  background: $primary-green;
  color: white;
  font-family: "Noto Sans", "sans-serif";

  .head-title {
    font-size: 200%;
  }

  .container {
    margin-top: 10px;
  }

  .head-title-right {
    margin-right: 30px;
    margin-top: 10px;
  }
}

.econ-footer {
  background: $primary-grey;
  color: white;
  font-family: "Noto Sans", "sans-serif";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-right {
  float: right;
}

#root {
  margin-top: 5%;
}
