.outline {
  border: solid, white, 2px;
  text-align: center;
  margin-right: 10px;
}

.econ-header {
  background: $primary-green;
  color: white;
  font-family: "Noto Sans", "sans-serif";
  padding: 1.5rem .25rem;

  &.navbar {
    border-radius: 0;
  }

  .head-title {
    font-size: 3rem;
    font-weight: normal;
  }

  .container {
    margin-top: 10px;
  }

  .head-title-right {
    margin-right: 30px;
    margin-top: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.econ-footer {
  background: $primary-green;
  color: $primary-white;
  font-family: "Noto Sans", "sans-serif";
  margin-top: 2rem;
  padding: 1.5rem .25rem;
  text-align: center;
  width: 100%;
}