.real_estate {

  .headlineBox-real_estate {
    background-color: $primary-green;
  }

  .contentBox-real_estate {
    background-color: $primary-grey-50;
  }

  .footerBox-real_estate {
    background-color: $primary-grey-25;
    color: darkgray;
  }
}


.real-estate-overlay {
  background: $primary-green;
}
