
.dashboard-label {
  min-height: 100px;
  font-size: 150%;
  text-align: right;
  font-weight: bold;
}

.dashboardBox {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;

  .dashboard-headline {
    color: white;
    min-height: 60px;

  }

  .dashboard-content {
    min-height: 60px;
    font-size: 250%;

    color: white;
  }

  .dashboard-footer {
    min-height: 50px;
    color: white;
    vertical-align: middle;
  }
}

.source {
  margin-bottom: 20px;
  clear: both;
}

.trend_icon {
  img {
    width: 15px;
    height: 15px;
    margin-right: 2px;

  }

  path {
    fill: darkgray;
  }
  display: inline;
}


