
.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  clear: both;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.chart-col {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  div:first-child {
    align-self: flex-end;
    -webkit-align-self: flex-end;
  }
}

// Trend icon
.trend_icon {
  img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }

  // Color for the svg icon
  path {
    fill: darkgray;
  }
  display: inline;
}

.dashboardBox {
  border: 1px solid $primary-grey-50;
  border-radius: 3px;
  margin: 0 0 10px 2.5rem;
  font-weight: bold;
  padding: 5px 10px 0px;
  text-align: center;
  z-index: 1;

  .dashboard-headline {
    border-bottom: 2px solid $primary-grey-50;
    color: $primary-grey;
    font-size: 1.5rem;
    min-height: 7rem;
    padding-bottom: 1rem;
  }

  .dashboard-content {
    font-size: 2.5rem;
    color: $primary-grey;
  }

  .dashboard-date {
    font-size: 1.1rem;
  }

  .dashboard-footer {
    color: $primary-grey;
    font-size: 2.5rem;
    margin-top: .5rem;
    min-height: 7rem;
    vertical-align: middle;
  }
}

.dashboard-box__more-details {
  bottom: .35rem;
  color: $primary-grey;
  float: right;
  font-size: 1.1rem;
  position: absolute;
  padding: .15rem .75rem;
  right: .20rem;
  z-index: -1;

  .glyphicon {
    color: $primary-grey-70;
    position: relative;
    right: -.25rem;
    top: .25rem;
    z-index: -1;
  }
}

.intro-text-container {
  margin: .5rem 5rem 3rem 1.5rem;
  width: 90%;

}

.data-source-description {
  background-color: $light-grey;
  font-size: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

.dashboard-label {
  z-index: -1;
}

@media only screen
and (min-width: 768px) {
  .dashboardBox {
    margin: 0 5px 5px 5px;

    .dashboard-headline {
      font-size: 1.75rem;
      min-height: 6rem;
    }
    .dashboard-footer {
      min-height: 3rem;
    }
  }
}

