.talent {

  .headlineBox-talent {
    background-color: $secondary-blue;
  }

  .contentBox-talent {
    background-color: $primary-grey-50;
  }

  .footerBox-talent {
    background-color: $primary-grey-25;
    color: darkgray;
  }
}


.talent-overlay {
  background: $secondary-blue;
}
