
.tooltip-box {

  .glyphicon {
    position: relative;
    top: .25rem;
    color: $primary-grey-50;
  }
}

.info-tooltip {
  z-index: 20 !important;
}

.tooltip-content {
  

}


.info {
  float: left;
  padding-bottom: .75rem;
}


