
.tooltip-box {

  .glyphicon {
    position: relative;
    top: .25rem;
    color: $primary-grey-50;
  }
}

.info-tooltip {
  z-index: 20 !important;
  background-color: $primary-green !important;
  color: black !important;
}

.tooltip-content {
  font-size: 1.1rem !important;
}

.info {
  float: left;
  padding-bottom: .75rem;
}


