
.tooltip-box {

  .glyphicon {
    position: relative;
    top: .25rem;
    z-index: -1;
    color: $primary-grey-50;
  }
}

.tooltip-content {
  

}


.info {
  float: left;
  padding-bottom: .75rem;
}


